<app-navbar></app-navbar>
<app-about></app-about>

<hr class="shine mb-4 shine" />

<app-experience-list></app-experience-list>

<hr class="accessory my-4" />

<!-- Education start -->

<app-education-list></app-education-list>

<!-- Education start -->

<hr class="accessory my-4" />

<!-- Hard & Soft Skills start -->

<app-hard-skill-list></app-hard-skill-list>

<!-- Hard & Soft Skills end -->

<!-- Soft Skills start -->

<app-soft-skill-list></app-soft-skill-list>

<!-- Soft Skills start -->

<hr class="accessory my-4" />

<!-- Proyects start-->

<app-proyect-list></app-proyect-list>

<hr class="accessory my-4"/>
<!-- Proyects end-->
