<app-navbar></app-navbar>
<app-about></app-about>

<hr class="mb-4" />

<section class="container">
  <h2 class="text-start mb-5">Experiencia</h2>

  <app-experience></app-experience>
</section>

<hr class="my-4" />

<!-- Education start -->
<section class="container">
  <h2 class="text-start mb-5">Educación</h2>
  <div class="row">
    <app-education></app-education>
  </div>
</section>
<!-- Education start -->

<hr class="my-4" />

<!-- Hard & Soft Skills start -->
<section class="container-sm">
  <h3 class="text-start pb-5">Hard Skills</h3>
  <div class="d-flex flex-wrap justify-content-center">
    <hard-skill></hard-skill>
  </div>
</section>
<!-- Hard & Soft Skills end -->

<!-- Soft Skills start -->
<section class="container">
  <h3 class="text-start py-5">Soft Skills</h3>
  <div class="d-flex flex-wrap justify-content-center">
    <soft-skill></soft-skill>
  </div>
</section>
<!-- Soft Skills start -->

<hr class="my-4" />

<!-- Proyects start-->
<section class="container mb-5">
  <h2 class="text-center mb-4">Proyectos</h2>
  <div class="row row-cols-md-2">
    <app-proyect></app-proyect>
  </div>
</section>
<!-- Proyects end-->