<!-- Banner start -->
<section class="section">
  <img src="/assets/img/Banner.jpg" class="banner-img" alt="..." />
</section>
<!-- Banner end -->

<!-- About me start !-->
<section class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 text-center">
      <img src="/assets/img/Face2.jpg" class="img-fluid shadow-lg face-image" />
      <h2 class="mt-3">{{name}}</h2>
      <h3>{{position}}</h3>
    </div>
    <div class="col-sm-12 col-md-8 align-self-center">
      <p class="fs-3 mt-3">
        {{description}}
      </p>
    </div>
  </div>
</section>
 <!-- About me end --> 
