<!-- Banner start -->
<section class="section">
  <div *ngIf="!bannerImg" class="banner-img-empty"></div>
  <img *ngIf="bannerImg" [src]="bannerImg" class="banner-img" alt="bannerImg" />
  <div
    *ngIf="isLogged"
    data-bs-toggle="modal"
    data-bs-target="#edit-banner"
    class="btn btn-success rounded-circle btn-lg justify-content-center edit-banner"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="36"
      fill="currentColor"
      class="bi bi-pencil-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
      />
    </svg>
  </div>

  <div
    data-bs-toggle="modal"
    data-bs-target="#delete-banner"
    *ngIf="isLogged && bannerImg"
    class="btn btn-danger btn-lg rounded-circle justify-content-center delete-banner"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="36"
      fill="currentColor"
      class="bi bi-x-lg"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
      />
    </svg>
  </div>
</section>
<!-- Banner end -->

<!-- About me start !-->
<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 text-center">
      <img [src]="profileImg" class="img-fluid shadow-lg face-image" />
      <h2 class="mt-3">{{ name }}</h2>
      <h3>{{ position }}</h3>
      <div
        data-bs-toggle="modal"
        data-bs-target="#edit-profile"
        *ngIf="isLogged"
        class="btn btn-success rounded-circle btn edit-title"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="36"
          fill="currentColor"
          class="bi bi-pencil-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
          />
        </svg>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#edit-profile-photo"
        *ngIf="isLogged"
        class="btn btn-success rounded-circle btn-lg edit-photo"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="36"
          fill="currentColor"
          class="bi bi-pencil-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
          />
        </svg>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 align-self-center">
      <p class="fs-3 mt-3 min-description">
        {{ description }}
      </p>
      <div
        data-bs-toggle="modal"
        data-bs-target="#edit-profile"
        *ngIf="isLogged"
        class="btn btn-success rounded-circle btn edit-description"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="36"
          fill="currentColor"
          class="bi bi-pencil-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>

<!-- Edit banner modal -->

<div
  class="modal fade"
  id="edit-banner"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar banner</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body text-center">
        <label class="form-label col-12 fw-bold">Imagen del banner</label>
        <input type="file" (change)="onChangeBanner($event)" />
        <div *ngIf="previewBanner">
          <label class="form-label col-12 fw-bold">Previsualización</label>
          <img class="preview" [src]="previewBanner" alt="banner" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button (click)="onSaveBanner()" type="button" class="btn btn-primary">
          Aplicar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Banner Modal -->
<div
  class="modal fade"
  id="delete-banner"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Quitar banner</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body text-center">
        <div class="fs-4">¿Seguro deseas eliminar esta foto?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          (click)="onDeleteBanner()"
          type="button"
          class="btn btn-primary"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit profile photo modal -->

<div
  class="modal fade"
  id="edit-profile-photo"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar foto del perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label fs-5">Foto del perfil</label>
            <input type="file" (change)="onChangeProfilePhoto($event)" />
          </div>
          <div class="col">
            <img
              *ngIf="previewProfile"
              class="preview-profile"
              [src]="previewProfile"
              alt="profile"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button (click)="onSaveProfilePhoto()" type="button" class="btn btn-primary">
          Aplicar
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Edit profile modal -->
<div
  class="modal fade"
  id="edit-profile"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label class="form-label fs-5">Nombre</label>
            <input *ngIf="profile" class="form-control" type="text" [(ngModel)]="profile.name" />
          </div>
          <div class="col-6">
            <label class="form-label fs-5">Posición</label>
            <input *ngIf="profile" class="form-control" type="text" [(ngModel)]="profile.position" />
          </div>
          <div class="col-12">
            <label class="form-label fs-5">Descripción</label>
            <p *ngIf="profile">{{profile.description.length}} / {{remaining}}</p>
            <textarea *ngIf="profile" maxlength="300" class="form-control description-input" type="text" [(ngModel)]="profile.description"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button (click)="onSaveProfile()" type="button" class="btn btn-primary">
          Aplicar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- About me end -->
