<!-- Banner start -->
<section class="section">
  <img src="/assets/img/Banner.jpg" class="banner-img" alt="..." />
</section>
<!-- Banner end -->

<!-- About me start !-->
<section class="container">
  <div class="row">
    <div class="col-4 text-center">
      <img src="/assets/img/Face.jpg" class="rounded-circle shadow-lg w-100 h-100 face-image" />
      <h2>{{name}}</h2>
      <h3>{{position}}</h3>
    </div>
    <div class="col-8 align-self-center">
      <p class="fs-3 ">
        {{description}}
      </p>
    </div>
  </div>
</section>
 <!-- About me end --> 
