.img-skill{
  width: 150px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.preview-logo{
  width: 100%;
  aspect-ratio: 4/3;
}

.edit-button{
  position: relative;
  bottom: 10rem;
  left: 3rem;
  cursor: pointer;
}

@media (max-width:1199px){
  .edit-button{
    position: relative;
    bottom: 10rem;
    left: 3rem;
    cursor: pointer;
  }
}

@media (max-width:992px){
  .edit-button{
    position: relative;
    bottom: 10rem;
    left: 3rem;
    cursor: pointer;
  }
}

.delete-button{
  position: relative;
  bottom: 10rem;
  left: 3rem;
  cursor: pointer;
}

@media (max-width:1199px){
  .delete-button{
    position: relative;
    bottom: 10rem;
    left: 3rem;
    cursor: pointer;
  }
}

@media (max-width:992px){
  .delete-button{
    position: relative;
    bottom: 10rem;
    left: 3rem;
    cursor: pointer;
  }
}
