* ,::after, ::before{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    background-color: #FFF;
}

nav h3{
    color: #FFF;
}

a i{
    color: #FFF;
}

.img{
    width: 100%;
    height: 30rem;
}

.img-skill{
    width: 120px;
    height: 120px;
}

.face-image{
    margin-top: -200px;
    width: 320px;
    height: 320px;
    border-radius: 30rem;
}

.logo-cepyc{
    width: 150px;
    height: 150px;
}

.logo-CFGC{
    width: 150px;
    height: 150px;
    border-radius: 30rem;
}

.logo-codo{
    width: 160px;
    height: 120px;
}

.logo-egg{
    width: 170px;
    height: 150px;
}
